{% extends 'base.html' %}

{% block content %}

    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label class="pure-u-1-3 form-label">Ratio: </label>
                <input style="width:75px !important; display: inline-block !important;" id="ratio" type="number"
                       step="0.1" min="0.1" max="4.9" class="pure-input pure-u-1-8" onchange="calculate_insulin();" onblur=" $('#autocomplete_spinner').hide();">
                <label class="pure-u-23-24" style="width:30px;">
                    <div class="la-ball-atom la-dark" id="autocomplete_spinner"
                         style="display: none;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </label>
            </div>
            <div class="pure-control-group">
                <label class="pure-u-1-2 form-label">Add to meal:</label>
                <input style="width: 130px;" id="products" type="text" class="pure-input pure-u-1-2">
            </div>
        </fieldset>
    </form>

    <div class="pure-form">
        <p id="empty-meal-msg"><b>Your meal is empty.</b></p>
        <table class="pure-table meal" style="display: none;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Unit weight</th>
                    <th>Amount</th>
                    <th>g</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            $("#products").autocomplete({
                source: "/product/get_products/",
                minLength: 2,
                delay: 0,
                autoFocus: true,
                select: function (event, ui) {
                    add_dish(ui.item.id, ui.item.name, ui.item.unit_weight, ui.item.ww, ui.item.wbt);
                    event.preventDefault();
                },
                search: function () {
                    if($('#products').is(":focus")) {
                        $('#autocomplete_spinner').fadeIn();
                    } else {
                        $('#autocomplete_spinner').hide();
                    }
                },
                response: function () {
                    $('#autocomplete_spinner').fadeOut();
                }
            });
        });

        $(function () {
            $("#ratio").autocomplete({
                source: ["0.8", "1.0"],
                minLength: 0
            }).focus(function () {
                $(this).autocomplete("search", $(this).val());
            });
        });

        function add_dish(id, name, unit_weight, ww, wbt, amount, in_grams) {
            var grams_checked = '';
            if(in_grams == 'True') {
                grams_checked = 'checked';
            }
            var amount_val = 1;
            if(amount) {
                amount_val = amount;
            }
            $('#poda').hide();
            var meal_row = '<tr class="product-' + id + '" data-id="' + id + '" data-ww="' + ww + '" data-wbt="' + wbt + '" >';
            var no = $('table.meal tbody tr').length;
            if (!no) {
                no = 0;
            }
            no += 1;
            var grams_disabled = '';
            if(unit_weight == 0) {
                grams_disabled = 'disabled';
            }
            meal_row += '<td><a onclick="pop_up_update_modal(' + id + ');" style="cursor: pointer;">' + no + '</a></td>';
            meal_row += '<td class="product-name" style="min-width: 150px; width:275px; font-size:small;">' + name + '</td>';
            meal_row += '<td class="product-unit_weight">' + unit_weight + '</td>';
            meal_row += '<td class="product-amount"><input class="amount" style="width:75px;" type="number" min="0" step="1" value="' + amount_val + '" onchange="calculate_insulin();"></td>';
            meal_row += '<td class="product-in_grams"><input ' + grams_disabled + ' type="checkbox" class="gram_check" onchange="calculate_insulin();" ' + grams_checked + '></td>';
            meal_row += '<td>' + '<button class="pure-button" onclick="remove_row($(this));"><i class="fa fa-remove"></i></button>' + '</td>';
            meal_row += '</tr>';
            $('table.meal tbody').append(meal_row);
            $('#products').val('');
            calculate_insulin();
            $('#empty-meal-msg').hide();
            $('table.meal').show();
            $("html, body").animate({scrollTop: 0}, {
                        complete: function () {
                            $('#poda').fadeIn();
                        }
                    }
            );
            if(amount && in_grams) {
                return;
            }
            update_meal();
        }

        function remove_row(button) {
            $(button).closest('tr').remove();
            reassign_row_numbers();
            calculate_insulin();
            if(!$('table.meal tbody tr').length) {
                $('table.meal').hide();
                $('#poda').hide();
                $('#empty-meal-msg').fadeIn();
            }
            update_meal();
        }

        function reassign_row_numbers() {
            $('table.meal tbody tr').each(function (index) {
                $(this).find('td').first().find('a').text(index + 1);
            });
        }

        function calculate_insulin() {
            var total_ww = 0;
            var total_wbt = 0;
            $('table.meal tbody tr').each(function (index) {
                var row_ww = $(this).attr('data-ww');
                var row_wbt = $(this).attr('data-wbt');
                var amount = $(this).find('input.amount').val();
                var unit_weight = $(this).find('td.product-unit_weight').text();
                var gram_check = $(this).find('input.gram_check').is(':checked');
                var row_ratio = amount;
                if(gram_check) {
                    row_ratio = amount/unit_weight;
                }
                total_ww += row_ratio * row_ww;
                total_wbt += row_ratio * row_wbt;
            });
            var ratio = $('#ratio').val();
            if(!ratio) {
                ratio = 1;
            }
            total_ww *= ratio;
            total_wbt *= ratio;
            var total_ww_wbt = total_ww + total_wbt;
            total_ww_wbt = Math.round(total_ww_wbt * Math.pow(10,1))/Math.pow(10,1);
            total_ww = Math.round(total_ww * Math.pow(10,1))/Math.pow(10,1);
            $('#result_sum').text(total_ww_wbt);
            $('#result_ww').text(total_ww);
        }

        function update_meal() {
            var meal_elements = [];
            $('table.meal tbody tr').each(function(id, row) {
                row = $(row);
                var element = {};
                element['id'] = row.attr('data-id');
                element['amount'] = row.find('td.product-amount').find('input').val();
                element['in_grams'] = row.find('td.product-in_grams').find('input[type="checkbox"]').is(':checked');
                meal_elements.push(element);
            });
            $.ajax({
                url: '{% url 'meal_update' %}',
                dataType: 'JSON',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'meal_elements': JSON.stringify(meal_elements),
                    ratio: $('#ratio').val()
                },
                type: "POST",
                error: function (data) {
                    if(data.status == 400) {
                        var err = $.parseJSON(data.responseText);
                        $.growl.error({message: 'Encountered when saving your meal: ' + err.error + ' Please contact developer.'});
                    } else {
                        $.growl.error({message: "Unexpected error. Please try again."});
                    }
                }
            });
        }

        $(document).ready(function() {
            {% if meal %}
                {% for meal_el in meal.meal_elements.all %}
                    add_dish('{{ meal_el.product_id }}', '{{ meal_el.product.name }}', {{ meal_el.product.unit_weight }}.toString(), '{{ meal_el.product.ww }}', '{{ meal_el.product.wbt }}', {{ meal_el.amount }}.toString(), '{{ meal_el.in_grams }}');
                {% endfor %}
                $('#ratio').val({{ meal.ratio }}.toString());
            {% endif %}
        });
    </script>
{% endblock content %}